<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Whiteboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <script src="https://npmcdn.com/axios/dist/axios.min.js"></script>
  </head>


  <body>
    <h1>Create a new canvas</h1>
    <div class="form-group has-error">
      <input placeholder="Name" id="js-name" />
      <button class="btn btn-primary" id="js-create">Create</button>
      <span class="error js-error"></span>
    </div>

    <script>
      var createButton = document.getElementById('js-create');
      var nameInput = document.getElementById('js-name');
      var error = document.getElementById('js-error');

      createButton.addEventListener('click', function() {
        // Validate name input
        var name = nameInput.value

        if (name.trim() !== '') {
          axios.post('/api/canvas', {
            name: name
          }).then(function(response) {
            console.log(response)
            window.location.href = `/${name}`;
          }).catch(function(error) {
            console.log(error)
            error.innerHTML = JSON.parse(error).reason;
          });
        } else {
          error.innerHTML = 'Please enter a name.';
        }
      });
    </script>
  </body>
</html>
