<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Whiteboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <script src="https://npmcdn.com/axios/dist/axios.min.js"></script>
  </head>


  <body>
    <h1>Create a new canvas</h1>
    <input placeholder="Name" id="js-name" />
    <button class="btn btn-primary" id="js-create">Create</button>
    <span class="error" id="js-error"></span>

    <script>
      let createButton = document.getElementById('js-create');
      let nameInput = document.getElementById('js-name');
      let errorSpan = document.getElementById('js-error');

      createButton.addEventListener('click', function() {
        // Validate name input
        let name = nameInput.value

        if (name.trim() !== '') {
          axios.post('/api/canvas', {
            name: name
          }).then(function(response) {
            window.location.href = `/${name}`;
          }).catch(function(error) {
            errorSpan.innerHTML = error.response.data.reason

          });
        } else {
          errorSpan.innerHTML = 'Please enter a name.';
        }
      });
    </script>
  </body>
</html>
