<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Whiteboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <script src="https://npmcdn.com/axios/dist/axios.min.js"></script>
  </head>


  <body>
    <h1>Create a new canvas</h1>
    <input type="text" placeholder="Name" id="js-name" />
    <input type="password" placeholder="Password" id="js-password" class="no-display" />
    <button class="btn btn-primary" id="js-create">Create</button>
    <button class="btn btn-primary" id="js-add-password">Add a password</button>
    <span class="error" id="js-error"></span>

    <script>
      var inputPassword = false;
      var createButton = document.getElementById('js-create');
      var addPassButton = document.getElementById('js-add-password');
      var nameInput = document.getElementById('js-name');
      var passwordInput = document.getElementById('js-password');
      var errorSpan = document.getElementById('js-error');

      createButton.addEventListener('click', function() {
        // Validate name input
        var name = nameInput.value
        var password = inputPassword ? passwordInput.value : null

        console.log(inputPassword, isBlank(name), isBlank(password))

        var canSend = !isBlank(name) && (inputPassword ? !isBlank(password) : true)

        if (canSend) {
          axios.post('/api/canvas', {
            name: name,
            pass: password,
            width: screen.width,
            height: screen.height
          }).then(function(response) {
            window.location.href = `/${name}`;
          }).catch(function(error) {
            errorSpan.innerHTML = error.response.data.reason

          });
        } else {
          errorSpan.innerHTML = 'Please completely fill in all the fields.';
        }
      });

      addPassButton.addEventListener('click', function() {
        passwordInput.classList.toggle('no-display');
        addPassButton.innerHTML = inputPassword ? 'Add a password' : 'Remove password';
        inputPassword = !inputPassword;
      });

      function isBlank(str) {
        return !str || str.trim() === ''
      }
    </script>
  </body>
</html>
