<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Whiteboard</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/utils.css" rel="stylesheet">
  </head>

  <body>
    <div class="container flex align-center justify-center">

      <div class="color-palette flex align-center">
        <div class="color-box red"></div>
        <div class="color-box orange"></div>
        <div class="color-box yellow"></div>
        <div class="color-box green"></div>
        <div class="color-box blue"></div>
        <div class="color-box purple"></div>
        <div class="color-box gray"></div>
        <div class="color-box black selected"></div>
        <div class="color-box white"></div>
      </div>

      <div class="size-palette flex align-center">
        <div class="size-circle size-0"></div>
        <div class="size-circle size-1"></div>
        <div class="size-circle size-2"></div>
        <div class="size-circle size-3"></div>
        <div class="size-circle size-4"></div>
        <div class="size-circle size-5 selected"></div>
        <div class="size-circle size-6"></div>
      </div>

      <div class="palette flex flex-column">
      
        <div class="colorList flex flex-column align-center">
          <img src="assets/splatter.png" alt="color", class="tool-icon splatter">
          <img src="assets/splatter-outline.png" alt="color", class="tool-icon splatter no-display">
        </div>

        <img src="assets/size.png" alt="size", class="tool-icon size">

        <div class="toolList flex flex-column align-center">
          <img src="assets/marker.png" alt="marker", class="tool-icon marker">
          <img src="assets/marker-inverted.png" alt="marker", class="tool-icon marker no-display">

          <img src="assets/eraser.png" alt="eraser", class="tool-icon eraser">
          <img src="assets/eraser-inverted.png" alt="eraser", class="tool-icon eraser no-display">

          <img src="assets/circle.png" alt="circle", class="tool-icon circle">
          <img src="assets/circle-inverted.png" alt="circle", class="tool-icon circle no-display">

          <img src="assets/rectangle.png" alt="rectangle", class="tool-icon rectangle">
          <img src="assets/rectangle-inverted.png" alt="rectangle", class="tool-icon rectangle no-display">

          <img src="assets/text.png" alt="text", class="tool-icon text">
          <img src="assets/text-inverted.png" alt="text", class="tool-icon text no-display">

          <img src="assets/line.png" alt="line", class="tool-icon line">
          <img src="assets/line-inverted.png" alt="line", class="tool-icon line no-display">

          <img src="assets/arrow.png" alt="arrow", class="tool-icon arrow">
          <img src="assets/arrow-inverted.png" alt="arrow", class="tool-icon arrow no-display">

          <img src="assets/speech.png" alt="speech", class="tool-icon speech">
          <img src="assets/speech-inverted.png" alt="speech", class="tool-icon speech no-display">

          <img src="assets/share.png" alt="share", class="tool-icon share">
          <img src="assets/share-inverted.png" alt="share", class="tool-icon share no-display">
        </div>
      </div>
      <div class="board">
        <canvas id="canvas-main"></canvas>
      </div>
      <div class="chat">
      </div>
    </div>

  <script src="javascripts/draw.js"></script>
  </body>
</html>
