<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Whiteboard</title>
    <link href="stylesheets/whiteboard.css" rel="stylesheet">
    <link href="stylesheets/utils.css" rel="stylesheet">
    <link href="stylesheets/base.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>

    <script>console.log('io:', io);</script>
  </head>

  <body>

    <div class="board">
      <canvas id="canvas-main"></canvas>
      <canvas id="canvas-cursor"></canvas>
    </div>

    <div class="color-palette flex align-center">
      <div class="color-box red"></div>
      <div class="color-box orange"></div>
      <div class="color-box yellow"></div>
      <div class="color-box green"></div>
      <div class="color-box blue"></div>
      <div class="color-box purple"></div>
      <div class="color-box gray"></div>
      <div class="color-box black"></div>
      <div class="color-box white"></div>
    </div>

    <div class="marker-size-palette size-palette flex align-center">
      <div class="size-circle size-0"></div>
      <div class="size-circle size-1"></div>
      <div class="size-circle size-2"></div>
      <div class="size-circle size-3"></div>
      <div class="size-circle size-4"></div>
      <div class="size-circle size-5"></div>
      <div class="size-circle size-6"></div>
    </div>

    <div class="eraser-size-palette size-palette flex align-center">
      <div class="size-circle size-0"></div>
      <div class="size-circle size-1"></div>
      <div class="size-circle size-2"></div>
      <div class="size-circle size-3"></div>
      <div class="size-circle size-4"></div>
      <div class="size-circle size-5"></div>
      <div class="size-circle size-6"></div>
    </div>

    <div class="palette flex flex-column align-center" style="overflow-y: scroll">
      <div class="tool-palette flex flex-column align-center">
        <img src="assets/splatter.png" alt="color", class="tool-icon splatter display">
        <img src="assets/splatter-outline.png" alt="color", class="tool-icon splatter no-display">

        <img src="assets/size.png" alt="size", class="tool-icon dots display">

        <img src="assets/marker.png" alt="marker", class="tool-icon marker display">
        <img src="assets/marker-inverted.png" alt="marker", class="tool-icon marker no-display">

        <img src="assets/eraser.png" alt="eraser", class="tool-icon eraser display">
        <img src="assets/eraser-inverted.png" alt="eraser", class="tool-icon eraser no-display">

        <img src="assets/circle.png" alt="circle", class="tool-icon circle display">
        <img src="assets/circle-inverted.png" alt="circle", class="tool-icon circle no-display">

        <img src="assets/rectangle.png" alt="rectangle", class="tool-icon rectangle display">
        <img src="assets/rectangle-inverted.png" alt="rectangle", class="tool-icon rectangle no-display">

        <img src="assets/text.png" alt="text", class="tool-icon text display">
        <img src="assets/text-inverted.png" alt="text", class="tool-icon text no-display">

        <img src="assets/line.png" alt="line", class="tool-icon line display">
        <img src="assets/line-inverted.png" alt="line", class="tool-icon line no-display">

        <img src="assets/arrow.png" alt="arrow", class="tool-icon arrow display">
        <img src="assets/arrow-inverted.png" alt="arrow", class="tool-icon arrow no-display">

        <img src="assets/speech.png" alt="speech", class="tool-icon speech display">
        <img src="assets/speech-inverted.png" alt="speech", class="tool-icon speech no-display">

        <img src="assets/share.png" alt="share", class="tool-icon share display">
        <img src="assets/share-inverted.png" alt="share", class="tool-icon share no-display">
      </div>
    </div>
    <div class="chat">
    </div>

    <div class="overlay">
      <div class="loading-icon">
        <h3>Loading</h3>
      </div>
    </div>

    <div class="password-modal flex justify-center">
      <div class="modal-content flex flex-column align-center">
        <img src="assets/lock.png" alt="secure", class="lock-img">
        <h4 class="modal-title">This canvas requires a password to enter</h4>
        <input type="password" placeholder="Password" id="password-input" />
        <span id="error" class="error block-display"></span>
        <button id="password-submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  <script src="javascripts/app.bundle.js"></script>
  </body>
</html>
