body {
  background-image: url("../assets/pencils.jpg");
  background-size: cover;
}

.jumbotron {
  margin: 0;
  height: 100%;
}

.create-form, .join-form {
  margin-bottom: 20px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
h1 {
  font-size: 90px;
  margin: 0;
}

h4 {
  margin: 0 0 20px;
}

button.action-btn {
  width: 160px;
  height: 45px;
  margin: 0 70px;
  border-radius: 20px;
}

.vertical-rule {
  height: 50px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

.blue-box {
  position: relative;
  margin: 40px auto;
  background-color: #35a989;
  width: 800px;
  padding: 25px 0px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-sizing: border-box;
}

.blue-box h3 {
  margin: 30px 0 10px;
  font-size: 18px;
}

.blue-box h6 {
  margin: 0;
  font-size: 15px;
}

.add-password {
  cursor: pointer;
  margin-top: 20px;
  transition: opacity 250ms;
}

.add-password:hover {
  opacity: 0.7;
}

img.lock-img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #35a989;
  transform: rotate(45deg);
  border-radius: 5px;
}

.arrow.create-arrow {
  top: -20px;
  left: 220px;
}

.arrow.join-arrow {
  top: -20px;
  left: 540px;
}

input {
  height: 40px;
  width: 600px;
  font-size: 18px;
  border: none;
}

button.go-btn {
  position: absolute;
  bottom: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.error {
  margin-top: 10px;
}
